body, html {
  font-size: 16px;
  color: #fff;
  /* background: black; */
  font-family: 'Oxygen', sans-serif;
  height: 100%;
}

#main_content {
	background-image: url(images/background_1920x1080.jpg);
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;


}

@media (min-width: 768px) {
  #middle_content {
  
  position: absolute;
  top: 35%;
  /* left: 35%; */
  
}

#button {
  background-color: black;
  position: absolute;
  top: 56%;
  left: 34%;

}



}

#pic {
  margin-bottom: 10px;
}

#product_title {
  color: white;
}

@media (max-width: 576px) {

  #middle_content {
    margin-top: 40%;
    margin-left: 20%;


  }

  #button {
  background-color: black;
  position: absolute;
  top: 45%;
  left: 34%;

}

}